*{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}
.home{
  padding: 32px;
}
.home button{
  cursor: pointer;
    border: navajowhite;
    background: dimgray;
    margin: 0 10px;
    padding: 10px;
    border-radius: 6px;
    color: white;
}
button{
  cursor: pointer;
}


.header{
  background: blue;
  width: 100%;
  height: 50px;
}
.title{
  text-align: center;
  padding: 10px 0;
  font-size: 20px;

  
}
.inputs{
  text-align: center;
  direction: rtl;
}
.body{
  background: #eee;
  text-align: center;

}
.pages{
  text-align: center;
}
.pages button{

  
  margin: 10px 3px;
  padding: 5px 30px
}
.pages .new-btn{
  background: blue;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  border: none
}
.pages .previous-btn{
  background: transparent;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color:#505163
}
.line{
  width: 50%;
  margin: 10px auto;
  
}
.creat-container{

  padding:10px 20px;
  
}
h5{
  
  background: blue;
  color: white;
  padding: 10px 0;
  width: 14%;
  text-align: center;
  border-radius: 6px
}

input{
  border: none;
  border-radius: 5px;
  padding: 3px;

}

.select{

  
  padding: 0 20px;
  direction: rtl
}
.select select{

  width: 15%;
  margin: 0 9px;
  border: none;
  background: white;
  
}
.save{
  background: blue;
  color: white;
  border: none;
  margin: 10px 3px;
  padding: 5px 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.d-rigth{
  direction: rtl
}
.d-left{
  direction: ltr
}
.t-rigth{
  text-align: right
}
.t-left{
  text-align: left
}
.inline-block {
  display: inline-block;
  width: 30%;
  margin-bottom: 10px

}

.alert{
  background: green;
  color: white ;
  position: fixed;
  width: 70%;
  height: 5%;
  top: -5%;
  right: 50%;
left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: all 0.5s
}
.rtl{
  direction: rtl !important;
}
.ltr{
  direction: ltr  !important;
}
.t-r{
  text-align: right  !important;
}
.t-l{
  text-align: left  !important;
}